.svg {
  width: 56px;
  height: auto;
  margin-right: 10px;
}

.icon_container {
  align-self: center;
}

.list {
  display: flex;
  flex-wrap: wrap;
}

.list_item {
  align-items: flex-start;
  width: 50%;
}

.disclaimer_row {
  margin-top: 12px;
}
